results/
__pycache__/
hydra/
logs/
log_folder/
multirun/
matrices/
error/
tensorboard/
wandb/
conn_camcan_2/
conn_camcan_without_nan/
outputs/
nifti_camcan/
connectivity_matrices/
nilearn_cache/
viz_to_present/
dataset_400parcels_3.nc
dataset_400parcels_2.nc
dataset_400parcels_2.zip
dataset_400parcels.nc
*.nc
*.png
